<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/css/style.css"></link>
</head>
<body style="background-color: cyan; color: white;">
    
        

        <%for(let i of todoList){%>
            <h1> <%= i %></h1>
        <%}%>
</body>
</html>